Source: ngcp-reminder
Section: comm
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.6
Homepage: http://sipwise.com/

Package: ngcp-reminder
Architecture: all
Depends: libdbi-perl,
         asterisk,
         perl-modules,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Reminder calls for NGCP platform
 Scripts for generating reminder calls in a NGCP platform.
