Source: ngcp-reminder
Section: comm
Priority: extra
Maintainer: Sipwise Development Team <support@sipwise.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://www.sipwise.com/

Package: ngcp-reminder
Architecture: all
Depends:
 asterisk,
 libconfig-tiny-perl,
 libdbi-perl,
 libreadonly-perl,
 ${perl:Depends},
 ${misc:Depends},
Description: Reminder calls for NGCP platform
 Scripts for generating reminder calls in a NGCP platform.
