Source: ngcp-reminder
Section: comm
Priority: extra
Maintainer: Jon Bonilla <jbonilla@sipwise.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.4
Homepage: http://sipwise.com/

Package: ngcp-reminder
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, perl-modules, libdbi-perl, ngcp-asterisk
Description: Reminder calls for NGCP platform
 Scripts for generating reminder calls in a NGCP platform.
